main + div footer{
    min-height: $footer-height;
    background-color: rgba($color-black, .9);
    padding-bottom: 0px;
    position: fixed;
    bottom: 0px;
    left:0px;
    right: 0px;
    animation: footerTrans 1s 0s;
    color: $color-primary-light;
    z-index: -1;
    //tmp
        font-size: 1.5rem;
        text-align: center;
// Form styling
    .form{
        text-align: right;
    }
    .form-group{
        text-align: left;
    }
    input, textarea{
        &.form-control{
            font-size: 1.5rem;
            background-color: rgba($color-white, .2);
            border-width: 0px;
            border-radius: 0px;
            color: $color-grey-light;
            &:focus{
                background-color: rgba($color-primary-light, .2);
                color: $color-white;
            }
        }
        
    }
// Copyright
    .copyright{
        font-size: 1.4rem;
    }
// Media links   
    .media-link{
        transition: all .4s;
        height: 3.5rem;
        width: 3.5rem;
        font-size: 2.25rem;
        margin: .5rem;
        padding-top: 1rem;
        border-radius: 100%;
        background-color: $color-grey-light;
        &:hover{
            transform: rotate(-360deg);
        }
    }
    .my-skills-progress, .my-skills-verbose{
        visibility: hidden;
    }
}