.navbar{
    min-height: 6rem;
    font-size: 1.4rem;
    background-color: rgba($color-black,0.6);
    border-bottom: 2px solid $color-primary;
    transition: all .8s;
    box-shadow: 0 .1rem 1rem rgba($color-black,.8);
    & &-brand{
        color:$color-white;
        font-weight: 400;
        font-size: 1.8rem;
        font-family: 'Noto Serif', serif;
    }
    & &-nav{
        & .nav-item{
            & .nav-link{
                font-weight: 400;
                color:$color-grey-light;
                transition: all .4s;
                &:hover,&:active,&.active{
                color:$color-primary-light !important;
                text-shadow: 0 .1rem 1rem rgba($color-grey,.1);
                }
            }

        }
        
        
    }
}